
@media screen {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }

  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }

  input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  input {
    overflow: visible;
  }

  [type=submit] {
    -webkit-appearance: button;
  }

  [type=submit]::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  h2 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  h2 {
    font-size: 2rem;
  }

  .d-flex {
    display: flex !important;
  }

  .d-none {
    display: none !important;
  }

  .justify-content-center {
    justify-content: center !important;
  }

  .float-right {
    float: right !important;
  }

  .position-absolute {
    position: absolute !important;
  }

  .text-left {
    text-align: left !important;
  }

  .text-center {
    text-align: center !important;
  }

  @media print {

    *,
    *::before,
    *::after {
      text-shadow: none !important;
      box-shadow: none !important;
    }

    a:not(.btn) {
      text-decoration: underline;
    }

    p,
    h2 {
      orphans: 3;
      widows: 3;
    }

    h2 {
      page-break-after: avoid;
    }
  }
}

@media all {
  .background-color-customed {
    background-color: #2e5bec !important;
  }

  a:focus,
  a:hover {
    text-decoration: none !important;
    outline: none !important;
  }

  .link-decoration-none {
    text-decoration: none;
    color: inherit;
  }

  .link-decoration-none:hover {
    text-decoration: none;
    color: inherit;
  }

  .no-padding {
    padding: 0 !important;
  }

  .padded-20px {
    padding: 20px !important;
  }

  .no-margin {
    margin: 0 !important;
  }

  .margin-20px {
    margin: 20px !important;
  }

  .margin-bottom-40px {
    margin-bottom: 40px !important;
  }

  .margin-bottom-50px {
    margin-bottom: 50px !important;
  }

  .margin-top-20px {
    margin-top: 20px !important;
  }

  .margin-top-40px {
    margin-top: 40px !important;
  }

  .text-gray-less-dark {
    color: #BCBDBD !important;
  }

  .text-blue-dark {
    color: #2A3453 !important;
  }

  .text-normal {
    font-weight: normal !important;
  }

  .text-lighter {
    font-weight: lighter !important;
  }

  .text-20px {
    font-size: 20px !important;
  }

  .position-top-right-10px {
    top: 10px;
    right: 10px;
  }

  .quiz-answers-card.selected {
    border: 2px solid #2e5bec !important;
  }

  .circle.active {
    border-color: #2e5bec;
  }

  .circle.finished,
  .trait.finished {
    border-color: #2e5bec !important;
    background-color: #2e5bec !important;
  }

  .fa {
    color: white;
  }

  .trait.finished {
  }

  .text-uppercase-spacing {
    display: inline-block;
    padding: 10px 25px;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
  }

  .onboarding-bar {
    display: flex;
    height: 15px;
    align-items: center;
    position: absolute;
    top: 90px;
    right: 80px;
    left: 80px;
    min-width: 70%;
  }

  .button {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 150ms ease, box-shadow 150ms ease;
  }

  .button:hover {
    text-decoration: none !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2) !important;
    color: white !important;
  }

  .button:focus {
    text-decoration: none !important;
    outline: none !important;
    color: white !important;
  }

  .button:disabled {
    opacity: 0.2;
  }

  .button.button-white {
    background-color: white;
    color: #2A3453;
  }

  .button.button-white:focus,
  .button.button-white:hover {
    color: #2A3453 !important;
  }

  ::-webkit-input-placeholder {
    color: #BCBDBD !important;
    font-weight: lighter;
  }

  ::-moz-placeholder {
    color: #BCBDBD !important;
    font-weight: lighter;
  }

  :-ms-input-placeholder {
    color: #BCBDBD !important;
    font-weight: lighter;
  }

  ::-ms-input-placeholder {
    color: #BCBDBD !important;
    font-weight: lighter;
  }

  ::placeholder {
    color: #BCBDBD !important;
    font-weight: lighter;
  }

  .onboarding-bar .circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 25px;
    height: 25px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #BCBDBD;
  }

  .onboarding-bar .trait {
    flex: 1 0 auto;
    height: 2px;
    background-color: #BCBDBD;
  }

  .circle.active {
    border-color: #2e5bec;
  }

  * {
    box-sizing: border-box;
  }

  h2 {
    font-size: 1.75rem;
    color: #2e5bec;
  }

  h2 {
    font-weight: bold;
  }

  .text-left {
    text-align: left !important;
  }

  .close-button i {
    color: #C8CED5;
    font-size: 20px;
    cursor: pointer;
  }

  .close-button i:hover {
    color: #2A3453;
  }

  .quiz-answers-card:hover {
    box-shadow: 2px 2px 2px #EEEEEE;
    background-color: white;
  }

  .quiz-page .quiz-answers-card:hover {
    cursor: pointer;
  }

  .quiz-answers-card:hover .quiz-answers-letter {
    color: white;
    background-color: #2e5bec;
  }

  .quiz-answers-letter {
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px;
    height: 40px;
    margin-right: 20px;
  }

  .quiz-answers-letter.possible-answer {
    background-color: #C8CED5;
    color: #2A3453;
  }

  .quiz-answers-letter.possible-answer.selected {
    background-color: #2e5bec !important;
    color: white;
  }

  .quiz-answers-card {
    width: 100%;
    align-items: center;
    border: 2px solid #C8CED5;
    border-radius: 4px;
    margin: 5px 0;
    padding: 15px;
  }
}

@media all {
  .fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }

  .fa-times-circle:before {
    content: "\f057";
  }


}

/*! CSS Used from: http://apple.localtest.me:3000/packs/js/application-c847ad1b.css ; media=screen */
@media screen {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }

  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }

  h2 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  h2 {
    font-size: 2rem;
  }

  .d-none {
    display: none !important;
  }

  .d-flex {
    display: flex !important;
  }

  @media (min-width: 576px) {
    .d-sm-block {
      display: block !important;
    }
  }

  .flex-fill {
    flex: 1 1 auto !important;
  }

  .justify-content-around {
    justify-content: space-around !important;
  }

  .position-relative {
    position: relative !important;
  }

  .position-absolute {
    position: absolute !important;
  }

  .text-center {
    text-align: center !important;
  }

  .text-green {
    color: #46CE92 !important;
  }

  .text-blue {
    color: #2e5bec !important;
  }

  .text-red-error {
    color: #FA3E3E !important;
  }

  .text-lighter {
    font-weight: lighter !important;
  }

  .text-15px {
    font-size: 15px !important;
  }

  .letter-spacing-xs {
    letter-spacing: 0.5px;
  }

  .button {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 150ms ease, box-shadow 150ms ease;
  }

  .button:hover {
    text-decoration: none !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2) !important;
    color: white !important;
  }

  .button:focus {
    text-decoration: none !important;
    outline: none !important;
    color: white !important;
  }

  .button:disabled {
    opacity: 0.2;
  }

  .button.button-green {
    background-color: #46CE92;
  }

  ::-webkit-input-placeholder {
    color: #BCBDBD !important;
    font-weight: lighter;
  }

  ::-moz-placeholder {
    color: #BCBDBD !important;
    font-weight: lighter;
  }

  :-ms-input-placeholder {
    color: #BCBDBD !important;
    font-weight: lighter;
  }

  ::-ms-input-placeholder {
    color: #BCBDBD !important;
    font-weight: lighter;
  }

  ::placeholder {
    color: #BCBDBD !important;
    font-weight: lighter;
  }

  .label {
    font-weight: lighter;
    font-size: 10px;
    background-color: #BCBDBD;
    color: white !important;
    border-radius: 12px;
    margin: 0 10px;
    height: 100%;
    padding: 3px 6px 4px;
    text-align: center;
  }

  .label-blue {
    background-color: #2e5bec !important;
    font-weight: bold !important;
  }

  * {
    box-sizing: border-box;
  }

  h2 {
    font-size: 1.75rem;
    color: #2e5bec;
  }

  h2 {
    font-weight: bold;
  }

  .quiz-answers-card:hover {
    box-shadow: 2px 2px 2px #EEEEEE;
    background-color: white;
  }

  .quiz-answers-card:hover .quiz-answers-letter {
    color: white;
    background-color: #2e5bec;
  }

  .question-score {
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .question-text {
    width: calc(100% - 35px);
  }

  .quiz-answers-letter {
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px;
    height: 40px;
    margin-right: 20px;
  }

  .true-answer {
    border: 2px solid #46CE92 !important;
  }

  .true-answer .quiz-answers-letter {
    background-color: #46CE92 !important;
    color: white;
  }

  .false-answer .quiz-answers-letter {
    background-color: #C8CED5 !important;
    color: white;
  }

  .quiz-answers-card {
    width: 100%;
    align-items: center;
    border: 2px solid #C8CED5;
    border-radius: 4px;
    margin: 5px 0;
    padding: 15px;
  }
}

/*! CSS Used from: Embedded ; media=all */
@media all {

  .fa-check:before {
    content: "\f00c";
  }

  .fa-times:before {
    content: "\f00d";
  }
}
